*.deb
*.o
*.pyc
*.pyo
*.swp
config
out/*
!out/.gitinclude
src/gui/AppBackupGUI
src/FixPermissions/FixPermissions
src/python/build
src/python/dist
src/python/*.egg-info
src/python/temp
test

# Apple crap
.DS_Store
DerivedData/
build/
*.pbxuser
xcuserdata
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout

