# vim: set ft=make:

# Copy or rename this file to config before running make.

# If the compiler isn't `ios-clang` and/or not on your $PATH, set its path here.
# To disable compiling AppBackupGUI and FixPermissions, leave this blank.
CC=ios-clang

# Default device to use for testing (hostname or IP address)
DEVICE=
