Package: net.scott-wallace.iphone.appbackup
Name: AppBackup
Version: 1.0.14-1
Architecture: iphoneos-arm
Description: Back up and restore App Store apps' saved data
 An iPhoneOS application that backs up and restores the saved data and preferences of App Store apps.
Depiction: http://iphone.srwz.us/depiction/net.scott-wallace.iphone.appbackup
Homepage: http://me.srwz.us/iphone/appbackup
Icon: http://uploads.srwz.us/AppBackup/icon.png
Maintainer: Scott Zeid <iphone@srwz.us>
Author: Scott Zeid <iphone@srwz.us>
Section: Utilities
Depends: bash, coreutils-bin, python, pyobjc, uicaboodle.py
